---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/favicon.svg"
    />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>Astro</title>
  </head>
  <body>
    <img
      is="ai-image"
      src="/api/openai"
      alt="an angry bird"
      width="512"
      height="512"
      data-fallback="https://placekitten.com/12/12"
    />
    <img
      is="ai-image"
      src="/api/openai"
      alt="an american boat"
      width="256"
      height="256"
      data-fallback="https://placekitten.com/12/12"
    />
  </body>
  <script src="../scripts/ai-image.ts"></script>
</html>
